
#main-photo {
    width: 28%;
    height: auto;
}

figure {
    margin: auto;
    text-align: center;
    width: 100%;
}

h2 {
    margin-top: 2vw;
    text-align: center;
    font-size: 140%;
}

p {
    margin: 0.38vw 0vw 0vw 1vw;
}

body {
    background-color: gainsboro;
}

.page {
    margin: auto;
    padding: 1.5vw 3.75vw 4.5vw 3.75vw;
    width: 420px;
    background: white;
    font-size: 1.05em;
    font-weight: bold;
}

div {
    margin-top: 1.8vw;
}

ul {
    padding-left: 3vw;
    margin-top: 1.5vw;
    margin-left: 0vw;
}

hr {
    border-width: 0.1vw 0 0 0;
}

.signature {
    margin-top: 0vw;
}

li {
    margin-top: 0.6vw;
}
